# Fichiers Python compilés
__pycache__/
*.py[cod]

# Dossiers de construction de l'exe (on ne met pas ça sur git)
build/
dist/
*.spec

# Base de données (optionnel : si tu veux une base vide, enlève cette ligne. Si tu veux garder tes données locales privées, laisse-la)
# lgs_mibde.db

# Environnements virtuels
venv/
env/